Repository PipedreamHQ/pipedream, pull requests merged in 2021-12, with the labels that each got.

#1875 [SOURCES/ACTIONS] Amara new sources/actions
  components/amara/actions/add-new-subtitles/add-new-subtitles.mjs
  components/amara/actions/add-video/add-video.mjs
  components/amara/actions/create-subtitle-language/create-subtitle-language.mjs
  components/amara/actions/delete-subtitles/delete-subtitles.mjs
  components/amara/actions/delete-video/delete-video.mjs
  components/amara/actions/fetch-raw-subtitles/fetch-raw-subtitles.mjs
  components/amara/actions/fetch-subtitles-data/fetch-subtitles-data.mjs
  components/amara/actions/get-subtitle-language-details/get-subtitle-language-details.mjs
  components/amara/actions/get-team-details/get-team-details.mjs
  components/amara/actions/get-video-details/get-video-details.mjs
  components/amara/actions/list-teams/list-teams.mjs
  components/amara/actions/list-video-subtitle-languages/list-video-subtitle-languages.mjs
  components/amara/actions/list-videos/list-videos.mjs
  components/amara/actions/perform-action/perform-action.mjs
  components/amara/actions/update-subtitle-language/update-subtitle-language.mjs
  components/amara/amara.app.mjs
  components/amara/constants.mjs
  components/amara/package-lock.json
  components/amara/package.json
  components/amara/sources/common.mjs
  components/amara/sources/subtitles-published/subtitles-published.mjs
  components/amara/sources/subtitles-unpublished/subtitles-unpublished.mjs
  components/amara/sources/video-added/video-added.mjs
  components/amara/sources/video-deleted/video-deleted.mjs
  components/amara/sources/video-made-primary/video-made-primary.mjs
  components/amara/sources/video-moved-project/video-moved-project.mjs
  components/amara/utils.mjs
Labels: help wanted, action, trigger / source

#1978 fixed common files to avoid errors in publish component deployment phase
  components/amara/actions/add-video/add-video.mjs
  components/amara/actions/common/utils.mjs
  components/amara/actions/delete-subtitles/delete-subtitles.mjs
  components/amara/actions/fetch-raw-subtitles/fetch-raw-subtitles.mjs
  components/amara/actions/fetch-subtitles-data/fetch-subtitles-data.mjs
  components/amara/actions/get-video-details/get-video-details.mjs
  components/amara/actions/list-teams/list-teams.mjs
  components/amara/actions/list-video-subtitle-languages/list-video-subtitle-languages.mjs
  components/amara/actions/list-videos/list-videos.mjs
  components/amara/amara.app.mjs
  components/amara/common/constants.mjs
  components/amara/sources/common.mjs
  components/amara/sources/subtitles-published/subtitles-published.mjs
  components/amara/sources/subtitles-unpublished/subtitles-unpublished.mjs
  components/amara/sources/video-added/video-added.mjs
  components/amara/sources/video-deleted/video-deleted.mjs
  components/amara/sources/video-made-primary/video-made-primary.mjs
  components/amara/sources/video-moved-project/video-moved-project.mjs
Labels: help wanted, refactor

#1985 Fix Super-Linter error in Lint Code Base check
  .github/workflows/pull-request-checks.yaml
Labels: bug

#1881 feature/zoho-creator
  .gitignore
  components/zoho_creator/common/utils.mjs
  components/zoho_creator/constants.mjs
  components/zoho_creator/package-lock.json
  components/zoho_creator/package.json
  components/zoho_creator/sources/common.mjs
  components/zoho_creator/sources/new-or-updated-record/new-or-updated-record.mjs
  components/zoho_creator/sources/new-record/new-record.mjs
  components/zoho_creator/zoho_creator.app.mjs
Labels: trigger / source, refactor
