Repository PipedreamHQ/pipedream, pull requests merged in 2022-06, with the labels that each got.

#2996 Crove App - Created new actions and sources.
  components/crove_app/actions/complete_document/complete_document.mjs
  components/crove_app/actions/create_document/create_document.mjs
  components/crove_app/actions/create_invitation_link/create_invitation_link.mjs
  components/crove_app/actions/generate_pdf_from_document/generate_pdf_from_document.mjs
  components/crove_app/actions/generate_template_pdf/generate_template_pdf.mjs
  components/crove_app/actions/get_document_details/get_document_details.mjs
  components/crove_app/actions/send_document/send_document.mjs
  components/crove_app/actions/submit_document/submit_document.mjs
  components/crove_app/actions/update_document/update_document.mjs
  components/crove_app/actions/update_document_details/update_document_details.mjs
  components/crove_app/crove_app.app.mjs
  components/crove_app/package.json
  components/crove_app/sources/common.mjs
  components/crove_app/sources/document_completed/document_completed.mjs
  components/crove_app/sources/document_created/document_created.mjs
  components/crove_app/sources/document_submitted/document_submitted.mjs
Labels: User submitted

#3009 create random item from list action
  components/helper_functions/actions/random-item-from-list/random-item-from-list.mjs
Labels: User submitted

#2945 Amqp source receive message
  components/amqp/actions/send-message/send-message.mjs
  components/amqp/amqp.app.mjs
  components/amqp/package-lock.json
  components/amqp/package.json
  components/amqp/sources/receive-message/receive-message.mjs
  pnpm-lock.yaml
Labels: action, trigger / source

#2722 [ACTIONS/SOURCES] Added new actions and sources
  components/github/sources/new-commit-instant/new-commit-instant.js
  components/mailjet/actions/create-contact/create-contact.mjs
  components/mailjet/actions/list-contacts/list-contacts.mjs
  components/mailjet/actions/send-message/send-message.mjs
  components/mailjet/actions/update-contact/update-contact.mjs
  components/mailjet/common/constants.mjs
  components/mailjet/mailjet.app.mjs
  components/mailjet/package-lock.json
  components/mailjet/package.json
  components/mailjet/sources/common/base.mjs
  components/mailjet/sources/contact-created/contact-created.mjs
  pnpm-lock.yaml
Labels: action, trigger / source, User submitted

#2924 fix exclude replies and retweets (#2391)
  components/twitter/sources/my-tweets/my-tweets.mjs
  components/twitter/sources/user-tweets/user-tweets.mjs
Labels: triaged, User submitted

#3084 RSS Bugfix
  components/rss/app/rss.app.ts
  components/rss/sources/new-item-from-multiple-feeds/new-item-from-multiple-feeds.ts
  components/rss/sources/new-item-in-feed/new-item-in-feed.ts
Labels: triaged, User submitted

#2984 rocket reach action
  components/rocketreach/actions/lookup-company/lookup-company.mjs
  components/rocketreach/actions/lookup-profile/lookup-profile.mjs
  components/rocketreach/package-lock.json
  components/rocketreach/package.json
  components/rocketreach/rocketreach.app.mjs
  pnpm-lock.yaml
Labels: triaged, User submitted

#2834 Fix RingCentral source events and additional improvements
  components/google_dialogflow/common/constants.mjs
  components/google_dialogflow/common/utils.mjs
  components/google_drive/actions/find-folder/find-folder.mjs
  components/ringcentral/actions/create-meeting/create-meeting.mjs
  components/ringcentral/actions/make-callout/make-callout.mjs
  components/ringcentral/actions/send-sms/send-sms.mjs
  components/ringcentral/common/utils.mjs
  components/ringcentral/package-lock.json
  components/ringcentral/package.json
  components/ringcentral/ringcentral.app.js
  components/ringcentral/ringcentral.app.mjs
  components/ringcentral/sources/common/base.mjs
  components/ringcentral/sources/common/http-based.mjs
  components/ringcentral/sources/common/message-types.mjs
  components/ringcentral/sources/common/notification-types.mjs
  components/ringcentral/sources/common/timer-based.mjs
  components/ringcentral/sources/missed-inbound-call/missed-inbound-call.js
  components/ringcentral/sources/missed-inbound-call/missed-inbound-call.mjs
  components/ringcentral/sources/new-call-recording/new-call-recording.mjs
  components/ringcentral/sources/new-event/new-event.mjs
  components/ringcentral/sources/new-inbound-call/new-inbound-call.js
  components/ringcentral/sources/new-inbound-call/new-inbound-call.mjs
  components/ringcentral/sources/new-inbound-fax/new-inbound-fax.mjs
  components/ringcentral/sources/new-inbound-message/new-inbound-message.mjs
  components/ringcentral/sources/new-inbound-sms/new-inbound-sms.mjs
  components/ringcentral/sources/new-outbound-call/new-outbound-call.js
  components/ringcentral/sources/new-outbound-call/new-outbound-call.mjs
  components/ringcentral/sources/new-outbound-message/new-outbound-message.mjs
  components/ringcentral/sources/new-voicemail-message/new-voicemail-message.mjs
  pnpm-lock.yaml
Labels: trigger / source, refactor

#3117 Added new source new leads
  components/outgrow/common/constants.mjs
  components/outgrow/outgrow.app.mjs
  components/outgrow/package-lock.json
  components/outgrow/package.json
  components/outgrow/sources/common/base.mjs
  components/outgrow/sources/common/timer-based.mjs
  components/outgrow/sources/new-lead/new-lead.mjs
  pnpm-lock.yaml
Labels: good first issue, trigger / source

#3070 Refactor and added new action bigquery-insert-rows
  components/google_cloud/actions/bigquery-insert-rows/bigquery-insert-rows.mjs
  components/google_cloud/common/utils.mjs
  components/google_cloud/google_cloud.app.mjs
  components/google_cloud/package-lock.json
  components/google_cloud/package.json
  components/google_cloud/sources/bigquery-new-row/bigquery-new-row.mjs
  components/google_cloud/sources/bigquery-query-results/bigquery-query-results.mjs
  components/google_cloud/sources/common/bigquery.mjs
  components/google_cloud/sources/new-pubsub-messages/new-pubsub-messages.mjs
  pnpm-lock.yaml
Labels: action

#3004 [ACTION] Algolia - Delete object #1376
  components/algolia/actions/add-objects-to-index/add-objects-to-index.mjs
  components/algolia/actions/create-objects/create-objects.mjs
  components/algolia/actions/delete-objects/delete-objects.mjs
  components/algolia/algolia.app.mjs
  components/algolia/package-lock.json
  components/algolia/package.json
  pnpm-lock.yaml
Labels: action, refactor

#3110 [SOURCE] Withings #976
  components/withings/package-lock.json
  components/withings/package.json
  components/withings/sources/new-measure/new-measure.mjs
  components/withings/withings.app.mjs
  pnpm-lock.yaml
Labels: trigger / source

#3153 [BUG] Notion "Page Updates" source infinite timeout error #2946
  components/notion/sources/updated-page/updated-page.mjs
Labels: bug

#3076 [ACTION / SOURCES] Adalo #866
  components/adalo/actions/common/base.mjs
  components/adalo/actions/create-record/create-record.mjs
  components/adalo/actions/get-all-collections-records/get-all-collections-records.mjs
  components/adalo/actions/get-records/get-records.mjs
  components/adalo/actions/update-record/update-record.mjs
  components/adalo/adalo.app.mjs
  components/adalo/package-lock.json
  components/adalo/package.json
  components/adalo/sources/new-record/new-record.mjs
  pnpm-lock.yaml
Labels: action, trigger / source

#2848 [ACTIONS/SOURCE] Aweber new actions and source new subscriber added
  components/aweber/actions/add-subscriber/add-subscriber.mjs
  components/aweber/actions/get-accounts/get-accounts.mjs
  components/aweber/actions/get-lists/get-lists.mjs
  components/aweber/actions/get-subscribers/get-subscribers.mjs
  components/aweber/aweber.app.mjs
  components/aweber/common/constants.mjs
  components/aweber/common/utils.mjs
  components/aweber/package.json
  components/aweber/sources/common.mjs
  components/aweber/sources/subscriber-added/subscriber-added.mjs
  pnpm-lock.yaml
Labels: action, app, trigger / source

#3103 [TRIGGER] Knack: Record is created #1423
  components/knack/knack.app.mjs
  components/knack/package-lock.json
  components/knack/package.json
  components/knack/sources/new-record/new-record.mjs
  pnpm-lock.yaml
Labels: trigger / source

#3020 [ACTION / SOURCES] Moneybird
  components/moneybird/actions/common/constants.mjs
  components/moneybird/actions/create-contact/create-contact.mjs
  components/moneybird/actions/create-quote/create-quote.mjs
  components/moneybird/actions/create-sale-invoice/create-sale-invoice.mjs
  components/moneybird/moneybird.app.mjs
  components/moneybird/package-lock.json
  components/moneybird/package.json
  components/moneybird/sources/common/constants.mjs
  components/moneybird/sources/new-webhook-event/new-webhook-event.mjs
  pnpm-lock.yaml
Labels: action, trigger / source

#3154 [FEATURE] Improve Reddit sources to use global search endpoint #1513
  components/reddit/actions/list-comments-in-a-post/list-comments-in-a-post.mjs
  components/reddit/actions/search-post/search-post.mjs
  components/reddit/reddit.app.mjs
  components/reddit/sources/new-comments-by-user/new-comments-by-user.mjs
  components/reddit/sources/new-comments-on-a-post/new-comments-on-a-post.mjs
  components/reddit/sources/new-hot-posts-on-a-subreddit/new-hot-posts-on-a-subreddit.mjs
  components/reddit/sources/new-links-by-user/new-links-by-user.mjs
  components/reddit/sources/new-links-on-a-subreddit/new-links-on-a-subreddit.mjs
  components/reddit/sources/new-saved-post-by-user/new-saved-post-by-user.mjs
Labels: action

#3041 [ACTION] Lusha #864
  components/lusha/actions/find-company/find-company.mjs
  components/lusha/actions/find-contact/find-contact.mjs
  components/lusha/lusha.app.mjs
  components/lusha/package-lock.json
  components/lusha/package.json
  pnpm-lock.yaml
Labels: action

#3002 [New triggers and action] Demio #2939
  components/demio/actions/common/constants.mjs
  components/demio/actions/create-join-link/create-join-link.mjs
  components/demio/actions/get-event/get-event.mjs
  components/demio/actions/get-events/get-events.mjs
  components/demio/demio.app.mjs
  components/demio/package-lock.json
  components/demio/package.json
  components/demio/sources/common/constants.mjs
  components/demio/sources/new-participant/new-participant.mjs
  pnpm-lock.yaml
Labels: action, trigger / source

#3219 Removing note re: 40,000 character limit in Slack text
  .husky/post-merge
  .husky/pre-commit
  components/slack/actions/create-reminder/create-reminder.mjs
  components/slack/actions/reply-to-a-message-thread/reply-to-a-message-thread.mjs
  components/slack/actions/send-block-kit-message/send-block-kit-message.mjs
  components/slack/actions/send-custom-message/send-custom-message.mjs
  components/slack/actions/send-direct-message/send-direct-message.mjs
  components/slack/actions/send-group-message/send-group-message.mjs
  components/slack/actions/send-message-private-channel/send-message-private-channel.mjs
  components/slack/actions/send-message-public-channel/send-message-public-channel.mjs
  components/slack/actions/update-message/update-message.mjs
  components/slack/slack.app.mjs
Labels: triaged, User submitted

#3127 [SOURCE] Payhere Subscriber hits “Submit” button #1086
  components/payhere/package-lock.json
  components/payhere/package.json
  components/payhere/payhere.app.mjs
  components/payhere/sources/common/constants.mjs
  components/payhere/sources/new-webhook-event/new-webhook-event.mjs
  pnpm-lock.yaml
Labels: trigger / source

#3022 Bannerbear: Added new actions and minor refactor
  components/bannerbear/actions/approve-video/approve-video.mjs
  components/bannerbear/actions/create-animated-gif/create-animated-gif.mjs
  components/bannerbear/actions/create-collection/create-collection.mjs
  components/bannerbear/actions/create-image/create-image.mjs
  components/bannerbear/actions/create-video/create-video.mjs
  components/bannerbear/actions/edit-video/edit-video.mjs
  components/bannerbear/bannerbear.app.mjs
  components/bannerbear/common/constants.mjs
  components/bannerbear/common/utils.mjs
  components/bannerbear/package-lock.json
  components/bannerbear/package.json
  pnpm-lock.yaml
Labels: action

#3225 Switching to pnpm for dep management
  .github/workflows/publish-components.yaml
  .github/workflows/publish-packages.yaml
  .github/workflows/pull-request-checks.yaml
  .husky/post-merge
  docs/docs/cli/install/README.md
  docs/docs/code/nodejs/README.md
  docs/docs/code/nodejs/async/README.md
  docs/docs/code/nodejs/auth/README.md
  docs/docs/code/nodejs/rerun/README.md
  docs/docs/components/guidelines/README.md
  docs/docs/components/typescript/README.md
  docs/docs/workflows/settings/README.md
  package-lock.json
Labels: triaged, User submitted

#3235 [BUG] Webflow collection actions (get collections, get collection items, etc) returns "No Matching Options" #3160
  components/webflow/actions/create-collection-item/create-collection-item.mjs
  components/webflow/actions/delete-collection-item/delete-collection-item.mjs
  components/webflow/actions/get-collection-item/get-collection-item.mjs
  components/webflow/actions/get-collection/get-collection.mjs
  components/webflow/actions/get-item-inventory/get-item-inventory.mjs
  components/webflow/actions/list-collection-items/list-collection-items.mjs
  components/webflow/actions/update-collection-item/update-collection-item.mjs
  components/webflow/actions/update-item-inventory/update-item-inventory.mjs
  components/webflow/webflow.app.mjs
Labels: User submitted, refactor

#3196 [TRIGGER AND ACTION] Toggl #3138
  components/toggl/actions/get-current-time-entry/get-current-time-entry.mjs
  components/toggl/actions/get-time-entries/get-time-entries.mjs
  components/toggl/actions/get-time-entry/get-time-entry.mjs
  components/toggl/common/constants.mjs
  components/toggl/package-lock.json
  components/toggl/package.json
  components/toggl/sources/common/base.mjs
  components/toggl/sources/common/constants.mjs
  components/toggl/sources/new-start-time-entry/new-start-time-entry.mjs
  components/toggl/sources/new-time-entry/new-time-entry.mjs
  components/toggl/sources/new-update-time-entry/new-update-time-entry.mjs
  components/toggl/sources/new-webhook-event/new-webhook-event.mjs
  components/toggl/toggl.app.mjs
  pnpm-lock.yaml
Labels: action, trigger / source

#3215 woocommerce new actions
  components/woocommerce/actions/get-customer/get-customer.mjs
  components/woocommerce/actions/get-order/get-order.mjs
  components/woocommerce/actions/update-order-status/update-order-status.mjs
  components/woocommerce/woocommerce.app.mjs
Labels: triaged, User submitted

#3262 [BUG] Notion Update Page action shows error when set Page ID as expression #3227
  components/notion/actions/update-page/update-page.mjs
  components/notion/notion.app.mjs
  components/notion/package-lock.json
Labels: triaged, User submitted, refactor

#3268 Send mail bug fixed
  components/mailjet/mailjet.app.mjs
Labels: triaged, User submitted

#3229 [ACTION] Figma comment notification trigger #3087
  components/figma/actions/delete-comment/delete-comment.mjs
  components/figma/figma.app.mjs
  components/figma/sources/new-comment/new-comment.mjs
Labels: triaged, User submitted

#3236 Roles options added
  components/wordpress_org/actions/create-user/create-user.mjs
  components/wordpress_org/common/constants.mjs
  components/wordpress_org/wordpress_org.app.mjs
Labels: triaged, User submitted

#3273 updating public apps total
  README.md
  docs/docs/.vuepress/configs/envVars.js
  docs/docs/apps/all-apps/README.md
  docs/docs/components/README.md
  docs/docs/components/api/README.md
  docs/docs/components/guidelines/README.md
  docs/docs/connected-accounts/README.md
  docs/docs/workflows/steps/actions/README.md
Labels: triaged

#3271 Bugfix Monday.com
  components/monday/actions/create-group/create-group.mjs
  components/monday/actions/create-item/create-item.mjs
  components/monday/actions/create-update/create-update.mjs
  components/monday/actions/update-item-name/update-item-name.mjs
  components/monday/monday.app.mjs
Labels: triaged, User submitted

#2826 Frontapp refactor and receive custom messages action
  components/frontapp/actions/import-message/import-message.mjs
  components/frontapp/actions/receive-custom-messages/receive-custom-messages.mjs
  components/frontapp/actions/send-new-message/send-new-message.mjs
  components/frontapp/actions/update-conversation/update-conversation.mjs
  components/frontapp/common/constants.mjs
  components/frontapp/common/utils.mjs
  components/frontapp/frontapp.app.mjs
  components/frontapp/package-lock.json
  components/frontapp/package.json
  pnpm-lock.yaml
Labels: action, refactor

#3206 [ACTION] Twitter: follow user
  components/twitter/actions/follow-user/follow-user.mjs
  components/twitter/twitter.app.mjs
Labels: triaged, User submitted

#3259 Google Task description parameter
  components/google_tasks/actions/create-task/create-task.mjs
  components/google_tasks/actions/update-task/update-task.mjs
  components/google_tasks/google_tasks.app.mjs
Labels: triaged, User submitted
