Repository PipedreamHQ/pipedream, pull requests merged in 2022-05, with the labels that each got.

#2700 Add GitLab streaming audit events source support
  .gitignore
  components/gitlab/gitlab.app.mjs
  components/gitlab/package-lock.json
  components/gitlab/package.json
  components/gitlab/sources/new-audit-event/new-audit-event.mjs
  components/gitlab/sources/new-audit-event/queries.mjs
Labels: User submitted

#2712 [ACTION] SSH (key-based auth) new action #1529
  components/ssh/actions/execute-command/execute-command.mjs
  components/ssh/package-lock.json
  components/ssh/package.json
  components/ssh/ssh.app.mjs
Labels: action

#2677 Google calendar refactor and addressing comments 1st part
  components/google_calendar/actions/create-event/create-event.mjs
  components/google_calendar/actions/delete-event/delete-event.mjs
  components/google_calendar/actions/get-calendar/get-calendar.mjs
  components/google_calendar/actions/get-event/get-event.mjs
  components/google_calendar/actions/list-calendars/list-calendars.mjs
  components/google_calendar/actions/query-free-busy-calendars/query-free-busy-calendars.mjs
  components/google_calendar/actions/quick-add-event/quick-add-event.mjs
  components/google_calendar/actions/update-event-attendees/update-event-attendees.mjs
  components/google_calendar/common/constants.mjs
  components/google_calendar/google_calendar.app.js
  components/google_calendar/google_calendar.app.mjs
  components/google_calendar/package-lock.json
  components/google_calendar/package.json
  components/google_calendar/sources/event-cancelled/event-cancelled.mjs
  components/google_calendar/sources/event-ended/event-ended.mjs
  components/google_calendar/sources/event-start/event-start.mjs
  components/google_calendar/sources/new-calendar/new-calendar.mjs
  components/google_calendar/sources/new-event-search/new-event-search.mjs
  components/google_calendar/sources/new-event/new-event.mjs
  components/google_calendar/sources/new-or-updated-event-instant/new-or-updated-event-instant.mjs
  components/google_calendar/sources/new-or-updated-event/new-or-updated-event.mjs
Labels: help wanted, action, trigger / source, refactor

#2723 [APP] ZeroTier #2524
  components/zerotier/actions/get-network-node/get-network-node.mjs
  components/zerotier/actions/get-network-nodes/get-network-nodes.mjs
  components/zerotier/actions/get-network/get-network.mjs
  components/zerotier/actions/get-networks/get-networks.mjs
  components/zerotier/actions/get-user/get-user.mjs
  components/zerotier/package-lock.json
  components/zerotier/package.json
  components/zerotier/sources/common/common.mjs
  components/zerotier/sources/new-node-join/new-node-join.mjs
  components/zerotier/sources/new-node-left/new-node-left.mjs
  components/zerotier/sources/new-node-offline/new-node-offline.mjs
  components/zerotier/sources/new-node-online/new-node-online.mjs
  components/zerotier/zerotier.app.mjs
Labels: action, trigger / source

#2765 bug in create or update customer in customer.io put
  components/customer_io/actions/create-or-update-customer/create-or-update-customer.mjs
Labels: User submitted

#2778 Add REST API docs for delete webhook endpoint
  docs/docs/api/rest/README.md
  docs/docs/api/rest/webhooks/README.md
Labels: docs

#2773 Fixed broken component not able to submit request
  components/symbl_ai/actions/post-audio-url/post-audio-url.mjs
Labels: User submitted

#2487 [SOURCE] Asana: New Tags, New Webhook Events #1036
  components/asana/actions/search-sections/search-sections.mjs
  components/asana/actions/search-user-projects/search-user-projects.mjs
  components/asana/asana.app.js
  components/asana/asana.app.mjs
  components/asana/sources/common/common.mjs
  components/asana/sources/completed-task/completed-task.js
  components/asana/sources/new-completed-task/new-completed-task.mjs
  components/asana/sources/new-project/new-project.js
  components/asana/sources/new-project/new-project.mjs
  components/asana/sources/new-story/new-story.js
  components/asana/sources/new-story/new-story.mjs
  components/asana/sources/new-subtask/new-subtask.js
  components/asana/sources/new-subtask/new-subtask.mjs
  components/asana/sources/new-tag/new-tag.mjs
  components/asana/sources/new-task-in-project/new-task-in-project.js
  components/asana/sources/new-task/new-task.mjs
  components/asana/sources/new-team/new-team.js
  components/asana/sources/new-team/new-team.mjs
  components/asana/sources/new-user/new-user.js
  components/asana/sources/new-user/new-user.mjs
  components/asana/sources/new-workspace/new-workspace.js
  components/asana/sources/new-workspace/new-workspace.mjs
  components/asana/sources/tag-added-to-task/tag-added-to-task.js
  components/asana/sources/tag-added-to-task/tag-added-to-task.mjs
  components/asana/sources/updated-task-in-project/updated-task-in-project.js
  components/asana/sources/updated-task-in-project/updated-task-in-project.mjs
Labels: refactor

#2806 Fixed action version
  components/asana/sources/updated-task-in-project/updated-task-in-project.mjs
Labels: refactor

#2754 Add ZeroTier "Get Status" action; update ZT documentation
  components/zerotier/actions/get-network-node/get-network-node.mjs
  components/zerotier/actions/get-network-nodes/get-network-nodes.mjs
  components/zerotier/actions/get-network/get-network.mjs
  components/zerotier/actions/get-networks/get-networks.mjs
  components/zerotier/actions/get-status/get-status.mjs
  components/zerotier/actions/get-user/get-user.mjs
  components/zerotier/sources/new-node-join/new-node-join.mjs
  components/zerotier/sources/new-node-left/new-node-left.mjs
  components/zerotier/sources/new-node-offline/new-node-offline.mjs
  components/zerotier/sources/new-node-online/new-node-online.mjs
  components/zerotier/zerotier.app.mjs
Labels: User submitted

#2782 [Actions] Mautic
  components/mautic/actions/create-contacts/create-contacts.mjs
Labels: User submitted

#2805 Updated post-video-url action with enableSummary prop
  components/symbl_ai/actions/post-audio-url/post-audio-url.mjs
  components/symbl_ai/actions/post-video-url/post-video-url.mjs
Labels: User submitted

#2682 [ACTION] Pushbullet new actions #1508
  components/pushbullet/actions/common/constants.mjs
  components/pushbullet/actions/delete-push/delete-push.mjs
  components/pushbullet/actions/send-push/send-push.mjs
  components/pushbullet/pushbullet.app.mjs
Labels: action

#2730 Close actions & sources #2624
  components/close/actions/create-lead/create-lead.mjs
  components/close/actions/custom-action/custom-action.mjs
  components/close/actions/search-leads/search-leads.mjs
  components/close/actions/update-lead/update-lead.mjs
  components/close/close.app.mjs
  components/close/common/utils.mjs
  components/close/package.json
  components/close/sources/common.mjs
  components/close/sources/custom-event/custom-event.mjs
  components/close/sources/lead-status-changed/lead-status-changed.mjs
  components/close/sources/new-lead/new-lead.mjs
  components/close/sources/new-opportunity/new-opportunity.mjs
Labels: help wanted, good first issue, action, trigger / source

#2821 Close package json fix
  components/close/package.json
Labels: bug

#2807 ZeroTier Action: Update Network Member
  components/zerotier/actions/update-network-member/update-network-member.mjs
  components/zerotier/zerotier.app.mjs
Labels: User submitted

#2681 Added config action to setup variables for a workflow
  components/helper_functions/actions/export-variables/export-variables.mjs
  components/helper_functions/package-lock.json
  components/helper_functions/package.json
Labels: action

#2475 [ACTION] Refactor Asana actions #1481
  components/asana/actions/add-task-to-section/add-task-to-section.mjs
  components/asana/actions/common/common.mjs
  components/asana/actions/common/constants.mjs
  components/asana/actions/create-project/create-project.mjs
  components/asana/actions/create-subtask/create-subtask.mjs
  components/asana/actions/create-task-comment/create-task-comment.mjs
  components/asana/actions/create-task/create-task.mjs
  components/asana/actions/delete-task/delete-task.mjs
  components/asana/actions/find-task-by-id/find-task-by-id.mjs
  components/asana/actions/search-projects/search-projects.mjs
  components/asana/actions/search-sections/search-sections.mjs
  components/asana/actions/search-tasks/search-tasks.mjs
  components/asana/actions/search-user-projects/search-user-projects.mjs
  components/asana/actions/update-task/update-task.mjs
  components/asana/asana.app.mjs
Labels: refactor

#2625 [ACTION] FaunaDB new actions #1494
  components/faunadb/actions/execute-graphql-query/execute-graphql-query.mjs
  components/faunadb/actions/import-graphql-schema/import-graphql-schema.mjs
  components/faunadb/actions/read-from-collection/read-from-collection.mjs
  components/faunadb/faunadb.app.js
  components/faunadb/faunadb.app.mjs
  components/faunadb/package-lock.json
  components/faunadb/sources/changes-to-collection/changes-to-collection.js
Labels: action

#2622 [ACTIONS] updates for Slack actions #2527
  components/slack/actions/add_star/add_star.mjs
  components/slack/actions/archive-channel/archive-channel.mjs
  components/slack/actions/complete-reminder/complete-reminder.mjs
  components/slack/actions/create-channel/create-channel.mjs
  components/slack/actions/create-reminder/create-reminder.mjs
  components/slack/actions/delete-message/delete-message.mjs
  components/slack/actions/delete_file/delete_file.mjs
  components/slack/actions/delete_reminder/delete-reminder.mjs
  components/slack/actions/find-message/find-message.mjs
  components/slack/actions/find-user-by-email/find-user-by-email.mjs
  components/slack/actions/get-channel/get-channel.mjs
  components/slack/actions/get-file/get-file.mjs
  components/slack/actions/get-reminder/get-reminder.mjs
  components/slack/actions/invite-user-to-channel/invite-user-to-channel.mjs
  components/slack/actions/join-channel/join-channel.mjs
  components/slack/actions/kick-user/kick-user.mjs
  components/slack/actions/leave-channel/leave-channel.mjs
  components/slack/actions/list-channels/list-channels.mjs
  components/slack/actions/list-files/list-files.mjs
  components/slack/actions/list-members-in-channel/list-members-in-channel.mjs
  components/slack/actions/list-replies/list-replies.mjs
  components/slack/actions/list-users/list-users.mjs
  components/slack/actions/list_reminders/list_reminders.mjs
  components/slack/actions/remove_star/remove_star.mjs
  components/slack/actions/reply-to-a-message-thread/reply-to-a-message-thread.mjs
  components/slack/actions/send-block-kit-message/send-block-kit-message.mjs
  components/slack/actions/send-custom-message/send-custom-message.mjs
  components/slack/actions/send-direct-message/send-direct-message.mjs
  components/slack/actions/send-group-message/send-group-message.mjs
  components/slack/actions/send-message-common.mjs
  components/slack/actions/send-message-private-channel/send-message-private-channel.mjs
  components/slack/actions/send-message-public-channel/send-message-public-channel.mjs
  components/slack/actions/set-channel-topic/set-channel-topic.mjs
  components/slack/actions/set-purpose-of-channel/set-purpose-of-channel.mjs
  components/slack/actions/unarchive-channel/unarchive-channel.mjs
  components/slack/actions/update-message/update-message.mjs
  components/slack/actions/update-profile/update-profile.mjs
  components/slack/actions/upload-file/upload-file.mjs
  components/slack/package-lock.json
  components/slack/slack.app.mjs
Labels: enhancement

#2675 Modified package-lock.json by runin npm update to upgrade stripe lib
  components/stripe/package-lock.json
Labels: bug

#2669 [ACTION] Refactor Bitbucket actions #1484
  components/bitbucket/actions/common/base.mjs
  components/bitbucket/actions/common/constants.mjs
  components/bitbucket/actions/create-issue-comment/create-issue-comment.mjs
  components/bitbucket/actions/create-issue/create-issue.mjs
  components/bitbucket/actions/create-snippet-comment/create-snippet-comment.mjs
  components/bitbucket/actions/get-file-from-repository/get-file-from-repository.mjs
  components/bitbucket/actions/get-issue/get-issue.mjs
  components/bitbucket/actions/get-snippet/get-snippet.mjs
  components/bitbucket/actions/update-issue-comment/update-issue-comment.mjs
  components/bitbucket/bitbucket.app.js
  components/bitbucket/bitbucket.app.mjs
  components/bitbucket/common.js
  components/bitbucket/package-lock.json
  components/bitbucket/package.json
  components/bitbucket/sources/common/common.mjs
  components/bitbucket/sources/new-branch/new-branch.js
  components/bitbucket/sources/new-branch/new-branch.mjs
  components/bitbucket/sources/new-commit-comment/new-commit-comment.js
  components/bitbucket/sources/new-commit-comment/new-commit-comment.mjs
  components/bitbucket/sources/new-commit/new-commit.js
  components/bitbucket/sources/new-commit/new-commit.mjs
  components/bitbucket/sources/new-issue/new-issue.js
  components/bitbucket/sources/new-issue/new-issue.mjs
  components/bitbucket/sources/new-pipeline-event/new-pipeline-event.js
  components/bitbucket/sources/new-pipeline-event/new-pipeline-event.mjs
  components/bitbucket/sources/new-pull-request/new-pull-request.js
  components/bitbucket/sources/new-pull-request/new-pull-request.mjs
  components/bitbucket/sources/new-repo-event/new-repo-event.js
  components/bitbucket/sources/new-repository-event/new-repository-event.mjs
  components/bitbucket/sources/new-repository/new-repository.js
  components/bitbucket/sources/new-repository/new-repository.mjs
  components/bitbucket/sources/new-review-request/new-review-request.js
  components/bitbucket/sources/new-review-request/new-review-request.mjs
  components/bitbucket/sources/new-tag/new-tag.js
  components/bitbucket/sources/new-tag/new-tag.mjs
  components/bitbucket/sources/new-workspace-event/new-workspace-event.js
  components/bitbucket/sources/new-workspace-event/new-workspace-event.mjs
Labels: action, trigger / source, refactor

#2718 [ACTION] Notion - Query a database #2570
  components/notion/actions/common/utils.mjs
  components/notion/actions/query-database/query-database.mjs
Labels: action

#2817 Delighted new action sending to people
  components/delighted/actions/sending-to-people/sending-to-people.mjs
  components/delighted/delighted.app.mjs
  components/delighted/package-lock.json
  components/delighted/package.json
Labels: action, User submitted

#2840 [ACTION / SOURCE] ShipStation new actions #1533
  components/shipstation/actions/common/constants.mjs
  components/shipstation/actions/common/utils.mjs
  components/shipstation/actions/create-order/create-order.mjs
  components/shipstation/package-lock.json
  components/shipstation/package.json
  components/shipstation/shipstation.app.mjs
  components/shipstation/sources/common/base.mjs
  components/shipstation/sources/common/constants.mjs
  components/shipstation/sources/new-event/new-event.mjs
Labels: action, trigger / source

#2692 Add new metadata prop to Slack send message
  components/slack/actions/common/send-message.mjs
  components/slack/actions/send-block-kit-message/send-block-kit-message.mjs
  components/slack/actions/send-custom-message/send-custom-message.mjs
  components/slack/actions/send-direct-message/send-direct-message.mjs
  components/slack/actions/send-group-message/send-group-message.mjs
  components/slack/actions/send-message-private-channel/send-message-private-channel.mjs
  components/slack/actions/send-message-public-channel/send-message-public-channel.mjs
  components/slack/slack.app.mjs
Labels: User submitted

#2715 [ACTION] Formstack new actions #1526
  components/formstack/actions/common/utils.mjs
  components/formstack/actions/create-form-submission/create-form-submission.mjs
  components/formstack/actions/create-form/create-form.mjs
  components/formstack/actions/get-form/get-form.mjs
  components/formstack/formstack.app.js
  components/formstack/formstack.app.mjs
  components/formstack/package-lock.json
  components/formstack/package.json
  components/formstack/sources/common/base.mjs
  components/formstack/sources/new-form-submission/new-form-submission.js
  components/formstack/sources/new-form-submission/new-form-submission.mjs
  components/formstack/sources/new-form/new-form.js
  components/formstack/sources/new-form/new-form.mjs
Labels: action, refactor

#2825 [ACTION] OneSignal new actions #1534
  components/onesignal_rest_api/actions/add-device/add-device.mjs
  components/onesignal_rest_api/actions/common/constants.mjs
  components/onesignal_rest_api/actions/create-notification/create-notification.mjs
  components/onesignal_rest_api/actions/get-device/get-device.mjs
  components/onesignal_rest_api/actions/get-devices/get-devices.mjs
  components/onesignal_rest_api/onesignal_rest_api.app.mjs
  components/onesignal_rest_api/package-lock.json
  components/onesignal_rest_api/package.json
Labels: action

#2685 Default value for rowCount with 0
  components/google_sheets/google_sheets.app.mjs
Labels: bug

#1843 [ACTIONS] MySQL new actions
  components/mysql/actions/delete-row/delete-row.mjs
  components/mysql/actions/execute-query/execute-query.mjs
  components/mysql/actions/execute-stored-procedure/execute-stored-procedure.mjs
  components/mysql/actions/find-row/find-row.mjs
  components/mysql/actions/new-row/new-row.mjs
  components/mysql/actions/update-row/update-row.mjs
  components/mysql/mysql.app.js
  components/mysql/mysql.app.mjs
  components/mysql/sources/common.mjs
  components/mysql/sources/common/table.mjs
  components/mysql/sources/new-column/new-column.mjs
  components/mysql/sources/new-or-updated-row/new-or-updated-row.js
  components/mysql/sources/new-or-updated-row/new-or-updated-row.mjs
  components/mysql/sources/new-row-custom-query/new-row-custom-query.js
  components/mysql/sources/new-row-custom-query/new-row-custom-query.mjs
  components/mysql/sources/new-row/new-row.mjs
  components/mysql/sources/new-table/new-table.mjs
Labels: action, trigger / source

#2698 Fix zoho crm merge with master and incremented versions
  components/zoho_crm/sources/common/http-based/crud-operations.mjs
  components/zoho_crm/sources/new-event/new-event.mjs
  components/zoho_crm/sources/new-module-entry/new-module-entry.mjs
  components/zoho_crm/sources/new-or-updated-module-entry/new-or-updated-module-entry.mjs
  components/zoho_crm/sources/new-user/new-user.mjs
  components/zoho_crm/sources/updated-module-entry/updated-module-entry.mjs
Labels: trigger / source, refactor

#2873 [TRIGGER / ACTION] Chatbot #69
  components/chatbot/actions/create-user/create-user.mjs
  components/chatbot/actions/get-users/get-users.mjs
  components/chatbot/chatbot.app.mjs
  components/chatbot/package-lock.json
  components/chatbot/package.json
  components/chatbot/sources/new-event/new-event.mjs
Labels: action, trigger / source

#2860 [Enhancement] Notion Actions should render dynamic props based on the page ID #2836
  components/notion/actions/common/constants.mjs
  components/notion/actions/common/utils.mjs
  components/notion/actions/update-page/update-page.mjs
  components/notion/notion.app.mjs
Labels: enhancement

#2888 1299 twitter unfollow
  components/twitter/actions/unfollow-user/unfollow-user.mjs
  components/twitter/twitter.app.mjs
Labels: User submitted

#2951 [SOURCE] VendHQ: Inventory Update #761
  components/vend/package-lock.json
  components/vend/package.json
  components/vend/sources/common/constants.mjs
  components/vend/sources/inventory-update/inventory-update.mjs
  components/vend/vend.app.mjs
Labels: trigger / source

#2879 [TRIGGER] Shopify New Draft Order #2646
  components/shopify/package-lock.json
  components/shopify/package.json
  components/shopify/shopify.app.mjs
  components/shopify/sources/new-draft-order/new-draft-order.mjs
Labels: trigger / source

#2912 [Actions] JIRA (Transition Issue)
  components/jira/actions/transition-issue/transition-issue.mjs
Labels: User submitted

#2937 create random integer helper function action
  components/helper_functions/actions/random-integer/random-integer.mjs
Labels: User submitted
