Repository PipedreamHQ/pipedream, pull requests merged in 2023-08, with the labels that each got.

#7485 [Components] Zoho Bigin #7405
  components/zoho_bigin/.gitignore
  components/zoho_bigin/actions/common/constansts.mjs
  components/zoho_bigin/actions/create-call/create-call.mjs
  components/zoho_bigin/actions/create-contact/create-contact.mjs
  components/zoho_bigin/actions/create-event/create-event.mjs
  components/zoho_bigin/actions/update-contact/update-contact.mjs
  components/zoho_bigin/app/zoho_bigin.app.ts
  components/zoho_bigin/package.json
  components/zoho_bigin/sources/common/common.mjs
  components/zoho_bigin/sources/new-call-created/new-call-created.mjs
  components/zoho_bigin/sources/new-contact-created/new-contact-created.mjs
  components/zoho_bigin/sources/new-deal-created/new-deal-created.mjs
  components/zoho_bigin/zoho_bigin.app.mjs
  pnpm-lock.yaml
Labels: action, trigger / source

#7520 [Components] Zoho Cliq #7392
  components/zoho_cliq/.gitignore
  components/zoho_cliq/actions/send-bot-message/send-bot-message.mjs
  components/zoho_cliq/actions/send-channel-message/send-channel-message.mjs
  components/zoho_cliq/actions/send-direct-message/send-direct-message.mjs
  components/zoho_cliq/app/zoho_cliq.app.ts
  components/zoho_cliq/package.json
  components/zoho_cliq/zoho_cliq.app.mjs
  pnpm-lock.yaml
Labels: action

#7295 FixZerotierNodeStatusLogic
  components/zerotier/package.json
  components/zerotier/sources/common/common.mjs
  components/zerotier/sources/new-node-join/new-node-join.mjs
  components/zerotier/sources/new-node-left/new-node-left.mjs
  components/zerotier/sources/new-node-offline/new-node-offline.mjs
  components/zerotier/sources/new-node-online/new-node-online.mjs
Labels: triaged, User submitted

#7623 Delete components/padlet
  components/padlet/README.md
  components/padlet/padlet.app.mjs
Labels: triaged, User submitted

#7626 Add warning about async operations
  docs/docs/code/nodejs/using-data-stores/README.md
Labels: triaged, User submitted

#7453 [Components] Zoho Meeting #7423
  components/zoho_calendar/actions/create-or-update-event/create-or-update-event.mjs
  components/zoho_calendar/package.json
  components/zoho_meeting/.gitignore
  components/zoho_meeting/actions/common/constants.mjs
  components/zoho_meeting/actions/create-meeting/create-meeting.mjs
  components/zoho_meeting/actions/create-webinar/create-webinar.mjs
  components/zoho_meeting/actions/get-meetings/get-meetings.mjs
  components/zoho_meeting/actions/get-webinars/get-webinars.mjs
  components/zoho_meeting/app/zoho_meeting.app.ts
  components/zoho_meeting/package.json
  components/zoho_meeting/zoho_meeting.app.mjs
  pnpm-lock.yaml
Labels: action

#7716 [Components] Neon (API Keys) #7616
  components/neon_api_keys/.gitignore
  components/neon_api_keys/actions/common/constants.mjs
  components/neon_api_keys/actions/create-branch/create-branch.mjs
  components/neon_api_keys/actions/create-database/create-database.mjs
  components/neon_api_keys/actions/create-project/create-project.mjs
  components/neon_api_keys/app/neon_api_keys.app.ts
  components/neon_api_keys/neon_api_keys.app.mjs
  components/neon_api_keys/package.json
  pnpm-lock.yaml
Labels: action

#7734 [Components] Viral Loops #6814
  components/viral_loops/.gitignore
  components/viral_loops/actions/create-participant/create-participant.mjs
  components/viral_loops/actions/get-campaign/get-campaign.mjs
  components/viral_loops/actions/get-participant/get-participant.mjs
  components/viral_loops/app/viral_loops.app.ts
  components/viral_loops/package.json
  components/viral_loops/viral_loops.app.mjs
  pnpm-lock.yaml
Labels: action

#7809 [Docs] Fix projects typo
  docs/docs/projects/README.md
  pnpm-lock.yaml
Labels: docs, triaged

#7796 [Components] Listclean #7762
  components/listclean/.gitignore
  components/listclean/actions/verify-email/verify-email.mjs
  components/listclean/app/listclean.app.ts
  components/listclean/listclean.app.mjs
  components/listclean/package.json
  pnpm-lock.yaml
Labels: action
