Repository PipedreamHQ/pipedream, pull requests merged in 2023-09, with the labels that each got.

#7850 fix filter channels prop
  components/discord_bot/actions/add-role/add-role.mjs
  components/discord_bot/actions/change-nickname/change-nickname.mjs
  components/discord_bot/actions/create-channel-invite/create-channel-invite.mjs
  components/discord_bot/actions/create-guild-channel/create-guild-channel.mjs
  components/discord_bot/actions/delete-channel/delete-channel.mjs
  components/discord_bot/actions/delete-message/delete-message.mjs
  components/discord_bot/actions/find-channel/find-channel.mjs
  components/discord_bot/actions/find-user/find-user.mjs
  components/discord_bot/actions/get-message/get-message.mjs
  components/discord_bot/actions/list-channel-invites/list-channel-invites.mjs
  components/discord_bot/actions/list-channel-messages/list-channel-messages.mjs
  components/discord_bot/actions/list-channels/list-channels.mjs
  components/discord_bot/actions/list-guild-members/list-guild-members.mjs
  components/discord_bot/actions/list-users-with-emoji-reactions/list-users-with-emoji-reactions.mjs
  components/discord_bot/actions/modify-channel/modify-channel.mjs
  components/discord_bot/actions/modify-guild-member/modify-guild-member.mjs
  components/discord_bot/actions/post-reaction-with-emoji/post-reaction-with-emoji.mjs
  components/discord_bot/actions/remove-user-role/remove-user-role.mjs
  components/discord_bot/actions/rename-channel/rename-channel.mjs
  components/discord_bot/actions/send-message-with-file/send-message-with-file.mjs
  components/discord_bot/actions/send-message/send-message.mjs
  components/discord_bot/common/utils.mjs
  components/discord_bot/package.json
  components/discord_bot/sources/new-forum-thread-message/new-forum-thread-message.mjs
  components/discord_bot/sources/new-guild-member/new-guild-member.mjs
  components/discord_bot/sources/new-message-in-channel/new-message-in-channel.mjs
  components/discord_bot/sources/new-thread-message/new-thread-message.mjs
Labels: triaged

#7605 [Components] SegMetrics #6449
  components/segmetrics/.gitignore
  components/segmetrics/actions/common/constants.mjs
  components/segmetrics/actions/create-or-update-contact/create-or-update-contact.mjs
  components/segmetrics/actions/create-or-update-order/create-or-update-order.mjs
  components/segmetrics/actions/create-or-update-subscription/create-or-update-subscription.mjs
  components/segmetrics/app/segmetrics.app.ts
  components/segmetrics/package.json
  components/segmetrics/segmetrics.app.mjs
  pnpm-lock.yaml
Labels: action

#7810 [Components] Klaxoon #7744
  components/klaxoon/.gitignore
  components/klaxoon/actions/create-board/create-board.mjs
  components/klaxoon/actions/create-idea/create-idea.mjs
  components/klaxoon/actions/update-idea/update-idea.mjs
  components/klaxoon/app/klaxoon.app.ts
  components/klaxoon/klaxoon.app.mjs
  components/klaxoon/package.json
  pnpm-lock.yaml
Labels: action

#7675 [ACTION] PandaDoc: Get Document Status
  components/pandadoc/actions/create-document-attachment/create-document-attachment.mjs
  components/pandadoc/actions/create-document-from-file/create-document-from-file.mjs
  components/pandadoc/actions/create-document-from-template/create-document-from-template.mjs
  components/pandadoc/actions/create-folder/create-folder.mjs
  components/pandadoc/actions/create-or-update-contact/create-or-update-contact.mjs
  components/pandadoc/actions/document-details/document-details.mjs
  components/pandadoc/actions/get-document-status/get-document-status.mjs
  components/pandadoc/actions/list-contacts/list-contacts.mjs
  components/pandadoc/actions/list-document-attachments/list-document-attachments.mjs
  components/pandadoc/actions/list-documents/list-documents.mjs
  components/pandadoc/actions/list-folders/list-folders.mjs
  components/pandadoc/actions/send-document/send-document.mjs
  components/pandadoc/package.json
  components/pandadoc/pandadoc.app.mjs
  components/pandadoc/sources/document-creation-failed/document-creation-failed.mjs
  components/pandadoc/sources/document-deleted/document-deleted.mjs
  components/pandadoc/sources/document-state-changed/document-state-changed.mjs
  components/pandadoc/sources/document-updated/document-updated.mjs
  components/pandadoc/sources/recipient-completed/recipient-completed.mjs
Labels: triaged, User submitted

#7932 [Components] Memberspot.io #7834
  components/memberspot/.gitignore
  components/memberspot/actions/delete-access/delete-access.mjs
  components/memberspot/actions/grant-access/grant-access.mjs
  components/memberspot/app/memberspot.app.ts
  components/memberspot/memberspot.app.mjs
  components/memberspot/package.json
  pnpm-lock.yaml
Labels: action

#8004 [Components] Microsoft 365 OneNote #7829
  components/onenote/.gitignore
  components/onenote/actions/create-notebook/create-notebook.mjs
  components/onenote/actions/create-page/create-page.mjs
  components/onenote/actions/create-section/create-section.mjs
  components/onenote/app/onenote.app.ts
  components/onenote/onenote.app.mjs
  components/onenote/package.json
  pnpm-lock.yaml
Labels: action

#8048 Add optional prop to DBT Cloud
  components/dbt/actions/get-run/get-run.mjs
  components/dbt/actions/trigger-job-run/trigger-job-run.mjs
  components/dbt/package.json
Labels: triaged

#8075 [Components] Libraria #7924
  components/libraria/.gitignore
  components/libraria/actions/add-document/add-document.mjs
  components/libraria/actions/create-query/create-query.mjs
  components/libraria/app/libraria.app.ts
  components/libraria/libraria.app.mjs
  components/libraria/package.json
  pnpm-lock.yaml
Labels: action

#8002 [Components] PingBell #7936
  components/pingbell/.gitignore
  components/pingbell/actions/send-notification/send-notification.mjs
  components/pingbell/app/pingbell.app.ts
  components/pingbell/package.json
  components/pingbell/pingbell.app.mjs
  pnpm-lock.yaml
Labels: action

#8144 PandaDoc: Send Document - wait for 'Draft' Status
  components/pandadoc/actions/send-document/send-document.mjs
  components/pandadoc/package.json
Labels: triaged, User submitted

#8129 [Components] More Trees #8018
  components/more_trees_/.gitignore
  components/more_trees_/actions/common/constants.mjs
  components/more_trees_/actions/get-carbon-offset/get-carbon-offset.mjs
  components/more_trees_/actions/plant-tree/plant-tree.mjs
  components/more_trees_/app/more_trees_.app.ts
  components/more_trees_/more_trees_.app.mjs
  components/more_trees_/package.json
  pnpm-lock.yaml
Labels: action

#8169 [Components] Uscreen #7911
  components/uscreen/.gitignore
  components/uscreen/actions/common/constants.mjs
  components/uscreen/actions/create-user/create-user.mjs
  components/uscreen/actions/grant-user-access/grant-user-access.mjs
  components/uscreen/app/uscreen.app.ts
  components/uscreen/package.json
  components/uscreen/uscreen.app.mjs
  pnpm-lock.yaml
Labels: action

#8140 #7995 - Gigasheet new components
  components/gigasheet/.gitignore
  components/gigasheet/actions/create-export/create-export.mjs
  components/gigasheet/actions/download-export/download-export.mjs
  components/gigasheet/actions/upload-data-from-url/upload-data-from-url.mjs
  components/gigasheet/app/gigasheet.app.ts
  components/gigasheet/gigasheet.app.mjs
  components/gigasheet/package.json
  pnpm-lock.yaml
Labels: ai-assisted

#8207 Update README.md
  docs/docs/components/quickstart/nodejs/sources/README.md
Labels: triaged, User submitted
